/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* The splash screen container style*/
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The App.js component style*/

.App {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  /*border: 3px solid #333;*/
  margin: 10px;
}

/* The login screen style*/

.Login {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  /*border: 3px solid #333;*/
  margin: 10px;
}

/* The chatrooms overview screen style*/

.Chatrooms {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin: 10px;
  font-size: 1.5em;
}

/* The chatrooms style*/

.ChatroomListItem {
  border: 1px solid lightslategray;
  margin: 7px;
  background: gray;
}

/* The individual chatroom style*/

.Chatroom {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin: 5px;
  font-size: 1.5em;
  /*border: 2px solid green;*/
  background-color: #7DAEA7;
}

/* The style of room tag name*/

h2 {
  display: flex;
  justify-content: center;
  color: #007756;
  border: 3px solid lightslategray;
  padding: 5px;
  border-radius: 25px;
}

/*.messages-window {
  display: flex;
}*/

/*Style of recieved messages container*/

.recieved-messages {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  /*border: 2px solid red;*/
  color: white;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

/*Style of recieved messages text box*/
.recieved-message-text {
  padding: 15px;
  min-height: 20px;
  background: #F96700;
  border-radius: 5px 20px 20px 5px;
  margin-bottom: 10px;
}

/*Style of sent messages container*/

.sent-messages {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  /*border: 2px solid blue;*/
  color: white;
  margin-right: 5px;
  margin-left: 10px;
}

/*Style of sent messages text box*/

.sent-message-text {
  padding: 15px;
  min-height: 20px;
  background: #007756;
  border-radius: 20px 5px 5px 20px;
  margin-bottom: 10px;
}

/*Style of toolbox*/

.Toolbox {
  display: flex;
  flex-direction: row;
  /*border: 2px solid #333;*/
  color: white;
  align-items: center;

}

.input {
  display: block;
  margin: 15px auto;
  max-width: 500px;
  width: 100%;
  justify-content: right;
}

.Send {
  width: auto;
  height: auto;
  background-color: lightblue;
}