/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* The splash screen container style*/
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30%;
  margin-bottom: 10%;

}

/* The App.js component style*/

.App {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  font-weight: bold;
  /*border: 3px solid #333;*/
  margin: 10px;
}

/* The login screen style*/

.Login {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  font-weight: bold;
  /*border: 3px solid #333;*/
  margin: 10px;
}

/* The chatrooms overview screen style*/

.Chatrooms {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  margin-top: 5%;
}

/* The chatrooms page style*/

.ChatroomListItem {
  border: 1px solid black;
  border-radius: 15px;
  margin: 12px;
  background: #96BAFF;
}


/*Style of chatroom name description*/

.chatroom-name-text {
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #4700D8;
  margin: 10px;
  margin-left: 10px;
  background: #96BAFF;
  font-size: 2em;
}

/*Style of chatroom description*/

.description-text {
  font-family: 'Roboto Mono', monospace;
  color: gray;
  margin: 10px;
  font-size: 1em;
}

/* The individual chatroom style*/

.Chatroom {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  margin: 15px;
  font-size: 15px;
  /* border: 2px solid green;*/
  background-color: #96BAFF;
}

/* The style of room tag name*/

h2 {
  display: flex;
  justify-content: center;
  color: #4700D8;
  /*border: 2px solid lightslategray;*/
  padding: 5px;
  margin-bottom: 10%;
}

/*Style of recieved messages container*/

.received-message {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-content: space-around;
  /*border: 2px solid red;*/
  color: white;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

/*Style of avatar of recieved message*/

.received-messages>div:first-child>img.userAvatar {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 5px;
}

/*Style of recieved messages text box*/

.received-message-text {
  text-align: left;
  padding: 15px;
  min-height: 20px;
  background: #7C83FD;
  border-radius: 5px 20px 20px 5px;
  margin-bottom: 10px;
}

/*Style of sent messages container*/

.sent-message {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-content: space-around;
  /*border: 2px solid blue;*/
  color: white;
  margin-right: 5px;
  margin-left: 10px;
}

/*Style of avatar of sent message*/

.sent-messages>div:first-child>img.meAvatar {
  display: flex;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 5px;
}

/*Style of sent messages text box*/

.sent-message-text {
  text-align: right;
  padding: 15px;
  min-height: 20px;
  background: #4700D8;
  border-radius: 20px 5px 5px 20px;
  margin-bottom: 10px;
}

/*Style of toolbox*/

.Toolbox {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
  /*border: 2px solid #333;*/
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 0px;
  background-color: #96BAFF;
}


.Send {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 20%;
  float: right;
  font-size: 18px;
  background-color: #4700D8;
  border-radius: 15px 15px;
  padding: 10px 5px 10px 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.Input {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-left: 5px;
  font-size: 18px;
  color: #000;
  background-color: #f1f1f1;
  outline: none;
}

input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  font-size: 15px;
}